---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=<WEATHER_API_KEY>&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/22/2023 18:31:41
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d503d7680c757b404b94d40c30ab1a58
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687458701,"localtime":"2023-06-22
        14:31"},"current":{"last_updated_epoch":1687458600,"last_updated":"2023-06-22
        14:30","temp_c":18.9,"temp_f":66.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":70,"wind_dir":"ENE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":1.3,"precip_in":0.05,"humidity":87,"cloud":100,"feelslike_c":18.9,"feelslike_f":66.0,"vis_km":13.0,"vis_miles":8.0,"uv":5.0,"gust_mph":9.2,"gust_kph":14.8}}'
  recorded_at: Thu, 22 Jun 2023 18:31:41 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=<WEATHER_API_KEY>&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - [...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/astronomy.json?key=<WEATHER_API_KEY>&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/22/2023 18:31:41
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - be9893f996fc41b2ec40a9b3541bac09
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687458701,"localtime":"2023-06-22
        14:31"},"astronomy":{"astro":{"sunrise":"05:43 AM","sunset":"08:37 PM","moonrise":"09:35
        AM","moonset":"No moonset","moon_phase":"Waxing Crescent","moon_illumination":"13","is_moon_up":1,"is_sun_up":1}}}'
  recorded_at: Thu, 22 Jun 2023 18:31:41 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/timezone.json?key=<WEATHER_API_KEY>&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/22/2023 18:31:41
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 51e385eb4d9e31191bfeab007692f877
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687458701,"localtime":"2023-06-22
        14:31"}}'
  recorded_at: Thu, 22 Jun 2023 18:31:41 GMT
recorded_with: VCR 6.1.0
