---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=<WEATHER_API_KEY>&q=22602
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/22/2023 18:31:43
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0a151438e4b06b6616a533dfd1f83e44
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Winchester","region":"Virginia","country":"USA","lat":39.17,"lon":-78.15,"tz_id":"America/New_York","localtime_epoch":1687458703,"localtime":"2023-06-22
        14:31"},"current":{"last_updated_epoch":1687457700,"last_updated":"2023-06-22
        14:15","temp_c":16.0,"temp_f":60.8,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":4.5,"precip_in":0.18,"humidity":94,"cloud":100,"feelslike_c":16.0,"feelslike_f":60.8,"vis_km":4.8,"vis_miles":2.0,"uv":4.0,"gust_mph":9.6,"gust_kph":15.5}}'
  recorded_at: Thu, 22 Jun 2023 18:31:44 GMT
recorded_with: VCR 6.1.0
