---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=721a457162d949829ad172324231205&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/20/2023 20:35:05
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ab002b21b1bf05c2fc3d762dc38605cb
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687293305,"localtime":"2023-06-20
        16:35"},"current":{"last_updated_epoch":1687293000,"last_updated":"2023-06-20
        16:30","temp_c":26.1,"temp_f":79.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":16.1,"wind_kph":25.9,"wind_degree":80,"wind_dir":"E","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.1,"precip_in":0.0,"humidity":60,"cloud":75,"feelslike_c":27.8,"feelslike_f":82.1,"vis_km":13.0,"vis_miles":8.0,"uv":5.0,"gust_mph":14.3,"gust_kph":23.0}}'
  recorded_at: Tue, 20 Jun 2023 20:38:02 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=721a457162d949829ad172324231205&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuc[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/astronomy.json?key=721a457162d949829ad172324231205&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/20/2023 20:35:05
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - bbd3ae797110795534b74c5bc0f0a935
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687293305,"localtime":"2023-06-20
        16:35"},"astronomy":{"astro":{"sunrise":"05:43 AM","sunset":"08:37 PM","moonrise":"07:33
        AM","moonset":"11:02 PM","moon_phase":"Waxing Crescent","moon_illumination":"3","is_moon_up":1,"is_sun_up":1}}}'
  recorded_at: Tue, 20 Jun 2023 20:38:02 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/timezone.json?key=721a457162d949829ad172324231205&q=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/20/2023 20:35:06
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e15438eb07c007b6efa9a478cf307031
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Washington","region":"District of Columbia","country":"USA","lat":38.9,"lon":-77.03,"tz_id":"America/New_York","localtime_epoch":1687293306,"localtime":"2023-06-20
        16:35"}}'
  recorded_at: Tue, 20 Jun 2023 20:38:02 GMT
recorded_with: VCR 6.1.0
