---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=<WEATHER_API_KEY>&q=22602
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/22/2023 18:31:44
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a379ab172d9ebc8371ad99b9ca94d9df
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Winchester","region":"Virginia","country":"USA","lat":39.17,"lon":-78.15,"tz_id":"America/New_York","localtime_epoch":1687458704,"localtime":"2023-06-22
        14:31"},"current":{"last_updated_epoch":1687458600,"last_updated":"2023-06-22
        14:30","temp_c":16.0,"temp_f":60.8,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":4.5,"precip_in":0.18,"humidity":94,"cloud":100,"feelslike_c":16.0,"feelslike_f":60.8,"vis_km":6.4,"vis_miles":3.0,"uv":4.0,"gust_mph":9.6,"gust_kph":15.5},"forecast":{"forecastday":[{"date":"2023-06-22","date_epoch":1687392000,"day":{"maxtemp_c":18.3,"maxtemp_f":64.9,"mintemp_c":13.5,"mintemp_f":56.3,"avgtemp_c":15.5,"avgtemp_f":59.8,"maxwind_mph":9.8,"maxwind_kph":15.8,"totalprecip_mm":5.0,"totalprecip_in":0.2,"totalsnow_cm":0.0,"avgvis_km":6.0,"avgvis_miles":3.0,"avghumidity":95.0,"daily_will_it_rain":1,"daily_chance_of_rain":72,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":4.0},"astro":{"sunrise":"05:46
        AM","sunset":"08:42 PM","moonrise":"09:39 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":"13","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1687406400,"time":"2023-06-22
        00:00","temp_c":13.8,"temp_f":56.8,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":45,"wind_dir":"NE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"humidity":97,"cloud":100,"feelslike_c":12.1,"feelslike_f":53.8,"windchill_c":12.1,"windchill_f":53.8,"heatindex_c":13.8,"heatindex_f":56.8,"dewpoint_c":13.4,"dewpoint_f":56.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.5,"gust_kph":23.4,"uv":1.0},{"time_epoch":1687410000,"time":"2023-06-22
        01:00","temp_c":13.9,"temp_f":57.0,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":8.9,"wind_kph":14.4,"wind_degree":39,"wind_dir":"NE","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"humidity":98,"cloud":100,"feelslike_c":12.3,"feelslike_f":54.1,"windchill_c":12.3,"windc[...]
