---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=721a457162d949829ad172324231205&q=22602
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/20/2023 19:47:44
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c119fa5b7f03ceb73c85e3f758fee54f
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Winchester","region":"Virginia","country":"USA","lat":39.17,"lon":-78.15,"tz_id":"America/New_York","localtime_epoch":1687290464,"localtime":"2023-06-20
        15:47"},"current":{"last_updated_epoch":1687290300,"last_updated":"2023-06-20
        15:45","temp_c":26.0,"temp_f":78.8,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":16.1,"wind_kph":25.9,"wind_degree":100,"wind_dir":"E","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.7,"precip_in":0.03,"humidity":54,"cloud":50,"feelslike_c":28.0,"feelslike_f":82.3,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":13.0,"gust_kph":20.9},"forecast":{"forecastday":[{"date":"2023-06-20","date_epoch":1687219200,"day":{"maxtemp_c":23.5,"maxtemp_f":74.3,"mintemp_c":17.8,"mintemp_f":64.0,"avgtemp_c":19.9,"avgtemp_f":67.8,"maxwind_mph":13.0,"maxwind_kph":20.9,"totalprecip_mm":12.7,"totalprecip_in":0.5,"totalsnow_cm":0.0,"avgvis_km":6.6,"avgvis_miles":4.0,"avghumidity":89.0,"daily_will_it_rain":1,"daily_chance_of_rain":98,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":4.0},"astro":{"sunrise":"05:46
        AM","sunset":"08:41 PM","moonrise":"07:36 AM","moonset":"11:06 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"3","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1687233600,"time":"2023-06-20
        00:00","temp_c":18.8,"temp_f":65.8,"is_day":0,"condition":{"text":"Fog","icon":"//cdn.weatherapi.com/weather/64x64/night/248.png","code":1135},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":193,"wind_dir":"SSW","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"humidity":97,"cloud":100,"feelslike_c":18.8,"feelslike_f":65.8,"windchill_c":18.8,"windchill_f":65.8,"heatindex_c":18.8,"heatindex_f":65.8,"dewpoint_c":18.4,"dewpoint_f":65.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":0.0,"vis_miles":0.0,"gust_mph":5.1,"gust_kph":8.3,"uv":1.0},{"time_epoch":1687237200,"time":"2023-06-20
        01:00","temp_c":18.7,"temp_f":65.7,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":0.4,"wind_kph":0.7,"wind_degree":256,"wind_dir":"WSW","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.7,"precip_in":0.03,"humidity":97,"cloud":55,"feelslike_c":18.7,"feelslike_f":65.7,"windchill[...]
