<div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="mt-4 p-5 bg-transparent rounded">
    <div class="secondary-color container-fluid">
      <h1 class="display-4">Hotwire Projects</h1>
      <p class="lead">This page is rendered using Hotwire.</p>
      <hr class="my-4">
      <a class="btn btn-lg custom-button" role="button" href="/react/projects">
        View Hotwire Projects
      </a>
    </div>
  </div>
</div>