<div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
  <div class="mt-4 p-5 bg-transparent rounded">
    <div class="secondary-color container-fluid">
      <h1 class="display-4">Hi! I'm Eric Oligney</h1>
      <p class="lead">I'm a technologist that likes to make things.</p>
      <hr class="my-4">
      <br />
      <p class="lead">Thank you for visiting my site. This site serves multiple purposes:</p>
      <p><i class="bi bi-check"></i>It's a place <span class="fw-bold">for you</span> to better understand my <span class="fw-bold">technology skills</span>.</p>
      <p><i class="bi bi-check"></i>It's a place <span class="fw-bold">for me</span> to play with <span class="fw-bold">emerging technologies</span>.</p>
      <p><i class="bi bi-check"></i>It's a place <span class="fw-bold">for me</span> to share <span class="fw-bold">knowledge</span>, <span class="fw-bold">resources</span>, <span class="fw-bold">and ideas</span> with others.</p>
      
      <hr class="my-4">
      <br />
      <p class="lead">Here are some of my toy projects: </p>


      <% if false %>
      <%= link_to "Hotwire", hotwire_home_path, class: 'btn btn-lg custom-button' %>
      <%= link_to "React", react_home_path, class: 'btn btn-lg custom-button' %>
      <%= link_to "Rails", react_home_path, class: 'btn btn-lg custom-button' %>
      <%= link_to "Redis", react_home_path, class: 'btn btn-lg custom-button' %>
      <% end %>
    </div>
  </div>
</div>